<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Login</h3>
                    <hr>
                    <label for="email">E-mail: </label>
                    <input class="form-control" type="email" name="email" id="email" placeholder="Insira seu e-mail">
                    <br>
                    <label for="pwd">Senha: </label>
                    <input class="form-control" type="password" name="pwd" id="pwd" placeholder="Insira sua senha">
                    <br>
                    <button type="button" class="btn btn-success">Entrar</button>
                </div>
            </div>
        </div>
    </main>

<%- include('./partials/footer.ejs') %>